<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee   http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
 <servlet>
   <display-name>JAX-RS REST Servlet</display-name>
   <servlet-name>JAX-RS REST Servlet</servlet-name>
   <servlet-class>
		com.sun.jersey.spi.container.servlet.ServletContainer
   </servlet-class>
   <load-on-startup>1</load-on-startup>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>DatabaseInfo</servlet-name>
  <servlet-class>com.discount.servlet.DatabaseInfo</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>Registration</servlet-name>
  <servlet-class>com.discount.servlet.Registration</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>Login</servlet-name>
  <servlet-class>com.discount.servlet.Login</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>Logout</servlet-name>
  <servlet-class>com.discount.servlet.Logout</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>GetDealsByCategories</servlet-name>
  <servlet-class>com.discount.servlet.GetDealsByCategories</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>GetDealsBySearch</servlet-name>
  <servlet-class>com.discount.servlet.GetDealsBySearch</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>GetDealsByMerchant</servlet-name>
  <servlet-class>com.discount.servlet.GetDealsByMerchant</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>GetMerchantsBySearch</servlet-name>
  <servlet-class>com.discount.servlet.GetMerchantsBySearch</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>GetMerchantsByLocation</servlet-name>
  <servlet-class>com.discount.servlet.GetMerchantsByLocation</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>GetFavoriteLocation</servlet-name>
  <servlet-class>com.discount.servlet.GetFavoriteLocation</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>AddFavoriteLocation</servlet-name>
  <servlet-class>com.discount.servlet.AddFavoriteLocation</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>AddFollowedMerchant</servlet-name>
  <servlet-class>com.discount.servlet.AddFollowedMerchant</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>GetMerchantsByIdList</servlet-name>
  <servlet-class>com.discount.servlet.GetMerchantsByIdList</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>GetDealsByMerchantId</servlet-name>
  <servlet-class>com.discount.servlet.GetDealsByMerchantId</servlet-class>
 </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>test</servlet-name>
    <servlet-class>com.discount.servlet.test</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetDealById</servlet-name>
    <servlet-class>com.discount.servlet.GetDealById</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetDealsById</servlet-name>
    <servlet-class>com.discount.servlet.GetDealsById</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetAllDeals</servlet-name>
    <servlet-class>com.discount.servlet.GetAllDeals</servlet-class>
  </servlet>





  
 <servlet-mapping>
   <servlet-name>JAX-RS REST Servlet</servlet-name>
   <url-pattern>/ws/*</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>DatabaseInfo</servlet-name>
  <url-pattern>/DatabaseInfo</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Registration</servlet-name>
  <url-pattern>/Registration</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Login</servlet-name>
  <url-pattern>/Login</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Logout</servlet-name>
  <url-pattern>/Logout</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>GetDealsByCategories</servlet-name>
  <url-pattern>/GetDealsByCategories</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>GetDealsBySearch</servlet-name>
  <url-pattern>/GetDealsBySearch</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>GetDealsByMerchant</servlet-name>
  <url-pattern>/GetDealsByMerchant</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>GetMerchantsBySearch</servlet-name>
  <url-pattern>/GetMerchantsBySearch</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>GetMerchantsByLocation</servlet-name>
  <url-pattern>/GetMerchantsByLocation</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>GetFavoriteLocation</servlet-name>
  <url-pattern>/GetFavoriteLocation</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>AddFavoriteLocation</servlet-name>
  <url-pattern>/AddFavoriteLocation</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>AddFollowedMerchant</servlet-name>
  <url-pattern>/AddFollowedMerchant</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>GetMerchantsByIdList</servlet-name>
  <url-pattern>/GetMerchantsByIdList</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>GetDealsByMerchantId</servlet-name>
  <url-pattern>/GetDealsByMerchantId</url-pattern>
 </servlet-mapping>
  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetDealById</servlet-name>
    <url-pattern>/GetDealById</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetDealsById</servlet-name>
    <url-pattern>/GetDealsById</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetAllDeals</servlet-name>
    <url-pattern>/GetAllDeals</url-pattern>
  </servlet-mapping>
 <welcome-file-list>
  <welcome-file>index.jsp</welcome-file>
 </welcome-file-list>
 <login-config>
  <auth-method>BASIC</auth-method>
 </login-config>
</web-app>
